.likeBtnContainer {
  width: 34px;
  height: 34px;
  margin-left: 10px;
  position: relative;
  img {
    width: 100%;
    display: block;
  }
  .count {
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: -8px;
    z-index: 100;
    opacity: 0;
  }
}

@keyframes fadeInOut {
  from {
    opacity: 0;
    top: -8px;
  }

  10% {
    top: -12px;
    opacity: 1;
  }

  to {
    top: -30px;
    opacity: 0;
  }
}

.fadeInOut_animate {
  -webkit-animation-name: fadeInOut;
  animation-name: fadeInOut;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-delay: .5s;
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 2, 4deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 2, 4deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -4deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -4deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.animate__tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  animation-duration: 2s;
  animation-fill-mode: both;
}