.sendBtnContainer {
  width: 40px;
  position: fixed;
  right: 14px;
  bottom: 24vh;
  @media screen and (min-width: 750px) {
    right: 50%;
    transform: translateX(374px);
  }
  .giftBoxImg {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  .progressContainer {
    width: 40px;
    height: 8px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #D8D8D8;
    .progress {
      transition: all .2s;
      height: 8px;
      overflow: hidden;
      border-radius: 4px;
      background-color: #EB261A;
    }
  }
}